
/** um novo começo !!

/* header {
  text-align: center;
}

p {
  text-align: center;
}

add-input-btn {
  display: block;
  text-align: center;
}

.task {
  background-color: rgb(128, 128, 128);
}
 */